*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}
body {
  font-size: 65.2%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;
}
a {
  text-decoration: none;
  color: $black;
}
li {
  list-style: none;
}
button {
  user-select: none;
}

.scroll-wrapper {
  width: 100vw;
  height: 100vh;
  // overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  // @media screen and (min-width: 800px) and (min-height: 600px){
  //   overscroll-behavior: none;//don't scroll in the end
  // }
}
main {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1352px;
  min-height: 100vh;
  padding: 0 1em;
  width: 100%;
}

main.main-wrapper > section {
  min-height: 100vh;
  // position: sticky;
  top: 0;
  & > div {
    // position: sticky;
  }
}
// waiting scroll

.bg {
  background: url(../assets/bg.png) 0px 0px / auto 102vh no-repeat fixed;
}
.intro {
  background: url(../assets/bg.png) 0px 0px / auto 102vh no-repeat fixed,
    linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  z-index: 1;
}
.stuck{
  height: 100vh;
  pointer-events: none;
}
.social {
  background-color: rgb(84, 40, 131);
  z-index: 2;
}

.blog {
  background-color: rgb(150, 224, 114);
  z-index: 3;
}
.portfolio {
  background-color: gold;
  z-index: 9;
}
.skills {
  background-color: rgb(34, 197, 83);
  z-index: 10;
}
.contact {
  background-color: rgb(194, 69, 69);
  z-index: 11;
}
