*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 65.2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;
}
a {
  text-decoration: none;
  color: $black;
}
li {
  list-style: none;
}
button {
  user-select: none;
  -webkit-touch-callout: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
main.main-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 100%;
  padding: 0 2em;
}

.webp body {
  background: #e91e63 url(../assets/bg-min.webp) 0px 0px / auto 102vh no-repeat
    fixed;
}
.no-webp body {
  background: #e91e63 url(../assets/bg.png) 0px 0px / auto 102vh no-repeat fixed;
}

.webp .bg {
  background: url(../assets/bg-min.webp) 0px 0px / auto 102vh no-repeat fixed;
}
.no-webp .bg {
  background: url(../assets/bg.png) 0px 0px / auto 102vh no-repeat fixed;
}
.webp .intro {
  background: url(../assets/bg-min.webp) 0px 0px / auto 102vh no-repeat fixed,
    linear-gradient(-225deg, #fb3c00 0%, #ff3d00 29%, #ff9800 67%, #fff800 100%);
}
.no-webp .intro {
  background: url(../assets/bg.png) 0px 0px / auto 102vh no-repeat fixed,
    linear-gradient(-225deg, #fb3c00 0%, #ff3d00 29%, #ff9800 67%, #fff800 100%);
}

.stuck {
  height: 70vh;
  pointer-events: none;
}
.social {
  background-color: #542883 !important; //#3b5998 facebook color
  z-index: 2;
}

.blog {
  background-color: #02b875; //medium.com color
  z-index: 3;
}
.portfolio {
  background-color: gold;
  z-index: 9;
}
.skills {
  background-color: rgb(102, 36, 119);
  z-index: 10;
}
.contact {
  background-color: #e91e63 !important;
  z-index: 11;
}
