$facebook-blue: #1978f5;
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.browserWindow {
  width: 100%;
  max-width: 1300px;
  min-width: 375px;
  max-height: 1250px;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 50px -30px rgb(105, 105, 105);
  transform-origin: center top;
  // transform: scale(0.9)
}

.bar {
  &-tab {
    background: #dfe1e3;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
    height: 48px;
    overflow: hidden;

    &-buttons {
      padding: 0 10px;
      float: left;
      margin-top: 8px;
      span {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 4px;
      }
      &-close {
        background: #fe5f5d;
      }
      &-min {
        background: #fdc137;
      }
      &-max {
        background: #24cc3e;
      }
    }
    &-head {
      width: 24%;
      min-width: 150px;
      max-width: 300px;
      height: 40px;
      float: left;
      border-radius: 14px 14px 0 0;
      background: #fff;
      padding: 8px 10px;
      font-size: 14px;
      svg {
        color: $facebook-blue;
        margin-right: 8px;
      }
      small {
        vertical-align: super;
      }
      span {
        float: right;
        svg {
          margin-right: 0px;
          color: gray;
        }
      }
    }
    &-plus {
      opacity: 0.5;
      height: 40px;
      float: left;
      padding: 7px;
    }
  }

  &-search {
    background: #fff;
    border-bottom: 1px solid #ececf0;
    height: 44px;
    overflow: hidden;

    & > div {
      width: 2.5%;
      min-width: 7%;
      height: 44px;
      padding: 6px;
      float: left;
      opacity: 0.8;
      text-align: center;
      @media screen and (min-width: 700px) {
        width: 3%;
        min-width: auto;
      }
    }
    &-input {
      width: 90% !important;
      max-width: 72% !important;
      @media screen and (min-width: 700px) {
        max-width: 88% !important;
      }
      input {
        text-indent: 20px;
        width: 100%;
        height: 100%;
        display: block;
        border: none;
        font-size: 14px;
        border-radius: 100px;
        background: #f2f2f4;
        &:focus {
          outline: none;
        }
        &::before {
          content: "";
        }
      }
    } //input
  } //search
}

.facebook-header {
  height: 54px;
  background: #fff;
  border-bottom: 1px solid #ececf0;
  padding: 0 10px;
  input {
    width: 70%;
    height: 36px;
    padding: 10px;
    display: block;
    background: #f2f2f4;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 9px;
    margin-right: 10%;
    position: absolute;
    right: 0;
    &:focus {
      outline: none;
    }
  }
  .profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 9px;
    background: url("https://s.cdpn.io/profiles/user/2961445/80.jpg?1553082357")
      center center / cover no-repeat;
  }
  .gear {
    margin-top: 9px;
    background: #f2f2f4;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    opacity: 0.9;
    padding-top: 5px;
    text-align: center;
    float: right;
  }
  .ant-menu-horizontal {
    svg {
      opacity: 0.5;
    }
    .ant-menu-item-selected svg {
      opacity: 1;
    }
    li {
      height: 54px;
    }
  }
  .ant-menu-item {
    padding: 0 30px !important;
  }
}
.facebook-logo {
  display: block;
  margin-top: 6px;
  width: 20%;
  color: #fff;
  position: absolute;
  left: 0;

  &::before {
    content: " ";
    width: 40px;
    height: 40px;
    display: block;
    background-image: linear-gradient(#65c1f3, #056fea);
    border-radius: 50px;
    position: absolute;
    z-index: 1;
  }
  svg {
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 3px;
  }
}

.fb-left {
  width: 23%;
  float: left;
  padding-left: 10px;

  h2 {
    font-weight: bold;
    padding: 10px 0;
  }
}
.fb-middle {
  width: 50%;
  max-height: 700px;
  overflow-y: scroll;
  float: left;
  padding: 20px;
  background: #f3f3f7;
  box-shadow: 2px 0px 1px -1px#d4d4d6, -2px 0px 1px -1px #d4d4d6;
  border-top: none;
  border-bottom: none;

  .story-container {
    overflow: hidden;
    width: 100%;
    height: 200px;
  }
  ul.stories {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    height: 226px;
    margin: 0px;
    padding: 0;
  }
  li.story {
    width: 130px;
    list-style: none;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 1%;
    overflow: hidden;
    box-shadow: 0 1px 4px #aaa;
    &::before {
      content: "";
      width: 44px;
      height: 44px;
      display: block;
      border-radius: 50px;
      border: 2px solid #fff;
      margin: 12px;
      box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.1);
    }
    &::after {
      content: " ";
      width: 100%;
      height: 100%;
      display: inline-block;
      line-height: 200px;
      margin: 10px;
      color: #fff;
      font-size: 15px;
    }
    &:last-child {
      margin-right: 0% !important;
    }
    &:nth-child(1) {
      &::after {
        content: "Add To Story";
      }
      &::before {
        content: "+";
        width: 44px;
        height: 44px;
        display: block;
        border-radius: 50px;
        border: 2px solid #fff;
        margin: 15px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 26px;
        color: #fff;
        text-align: center;
        line-height: 36px;
      }
      background: url("https://s.cdpn.io/profiles/user/2961445/512.jpg?1553082357")
        center / cover no-repeat;
    }
    &:nth-child(2) {
      &::after {
        content: "Tom Russo";
      }
      &::before {
        background: url("https://i.pravatar.cc/150?img=2") center / cover
          no-repeat;
      }
      background: url("https://images.unsplash.com/photo-1558417942-4aca90f81642?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=150&q=80")
        center / cover no-repeat;
    }
    &:nth-child(3) {
      &::after {
        content: "Rafael Rond";
      }
      &::before {
        background: url("https://i.pravatar.cc/150?img=4") center / cover
          no-repeat;
      }
      background: url("https://images.unsplash.com/photo-1558333115-fe12aa457af8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=302&q=80")
        center / cover no-repeat;
    }
    &:nth-child(4) {
      &::after {
        content: "Rishard Torvaldes";
      }
      &::before {
        background: url("https://i.pravatar.cc/150?img=6") center / cover
          no-repeat;
      }
      background: url("https://images.unsplash.com/photo-1558281050-4c33200099c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=450&q=80")
        center / cover no-repeat;
    }
    &:nth-child(5) {
      &::after {
        content: "Denis Musk";
      }
      &::before {
        background: url("https://i.pravatar.cc/150?img=7") center / cover
          no-repeat;
      }
      background: url("https://images.unsplash.com/photo-1558298336-360a2280e580?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80")
        center / cover no-repeat;
    }
  }
}
.fb-right {
  width: 26%;
  float: left;
  padding-left: 20px;
  h3 {
    margin-top: 15px;
  }

  .fb-suggested-card {
    color: #fff;
    width: 100%;
    height: 180px;
    h2 {
      color: #fff;
      padding: 10px 0 4px 0;
    }
    padding: 20px;
    border-radius: 20px;
    background: url("https://images.unsplash.com/photo-1526237377175-22e94a1ed9c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80")
      center/ cover no-repeat;
  }
}
.fb-left-list {
  font-size: 14px;
  color: #000;
  text-shadow: 0 0 1px #000;
  li {
    border: none !important;
    padding: 7px 0 !important;
  }
  img {
    width: 30px;
    margin-right: 5px;
  }
}
.fb-left-list.right img {
  border-radius: 50px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px $facebook-blue;
}

.fb-post {
  padding: 5px;
  margin: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0px 3px rgb(224, 223, 223);
  background: #fff;
  text-align: center;

  div {
    display: inline-block;
    width: 10%;
    margin: 0 1%;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
    }
  }
  span {
    display: inline-block;
    height: 40px;
    background: #dfe1e3;
    border-radius: 5px;
    line-height: 40px;
    text-shadow: 0 0 1px #000;
    margin: 6px 0;
    vertical-align: middle;
    width: 76%;
  }
  svg {
    background: #dfe1e3;
    border-radius: 50px;
    padding: 5px;
    opacity: 0.7;
  }
}

.fb-post-1 {
  margin: 20px 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 3px rgb(224, 223, 223);
  background: #fff;
  .ant-list-item-meta-avatar > span {
    width: 36px;
    height: 36px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px $facebook-blue;
  }
  li {
  padding-left: 10px;
  padding-right: 10px;
  }
  .ant-card-body{
    padding: 0;
  }
  .fb-reactions{
    opacity: 0.5;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    svg{
      vertical-align: -10px !important;
    }
  }
}
