#ordenador {
  margin: 0 auto;
  box-sizing: unset;
}
#ordenador .shadow {
  width: 200px;
  height: 85px;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 27%,
    rgba(77, 76, 76, 0.29) 64%,
    rgba(255, 255, 255, 0.25) 103%
  );
  display: inline-block;
  transform: perspective(7px) scaley(-1) rotateX(181deg);
  box-shadow: inset 0 0 142px 0px rgba(240, 240, 240, 0.96);
}
 
#monitor,
#escritorio {
  width: 864px;
  margin: 0 auto;
  position: relative;
}
#pantalla {
  width: 800px;
  height: 450px;
  border: 32px solid black;
  border-radius: 16px 16px 0 0;
  background: black;
  background-clip: padding-box;
}
#camara {
  border: 4px solid #222;
  border-radius: 13px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 8px;
}
#visiblepantalla {
  background: #222;
  background-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  height: 450px;
  width: 800px;
  overflow: hidden;
  position: relative;
}

div.acceso {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.pagina {
  height: 450px;
  width: 800px;
}
div.pagina div.interno {
  padding: 1em;
}
div.principal p {
  margin-bottom: 0.6em;
}

#reflejopantalla {
  position: absolute;
  width: 864px;
  height: 514px;
  top: 0;
  left: 0;
  border-radius: 16px 16px 0 0;
  background-image: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.25) 15%,
    rgba(255, 255, 255, 0)
  );
}
#bajopantalla {
  width: 100%;
  height: 80px;
  border-radius: 0 0 20px 20px;
  background-image: linear-gradient(
    to left,
    rgb(158, 159, 164),
    rgb(211, 212, 214) 50%,
    rgb(215, 216, 218)
  );
  text-align: center;
  font-size: 240%;
  color: black;
}
#simbolo {
  display: inline;
  padding: 0.22em 0.2em;
  position: relative;
  top: 0.6em;
  font-size: 80%;
}

#simbolo span {
  color: #232323;
}


#peanavertical {
  position: relative;
}
#peanavertical div {
  width: 190px;
  position: absolute;
  left: 50%;
  margin-left: -95px;
  background-image: linear-gradient(
    to bottom,
    rgb(147, 148, 153),
    rgb(227, 228, 230) 55%,
    rgb(227, 228, 230) 60%,
    rgb(118, 120, 124)
  );
  height: 63px;
}
#peana {
  text-align: center;
}
#peanavertical div.izquierda {
  transform: skew(-8deg);
  transform-origin: top left;
}
#peanavertical div.derecha {
  transform: skew(8deg);
  transform-origin: top right;
}
#peanahorizontal div {
  width: 164px;
  position: relative;
  left: 50%;
  height: 38px;
  top: 63px;
  margin-left: -59px;
  z-index: 2000;
  border-bottom: 1px solid #999;
}
#peanahorizontal div.izquierda {
  -moz-transform: skew(-38deg);
  -moz-transform-origin: top left;
  transform: skew(-38deg) translateY(-1px);
  transform-origin: top left;
  background-image: -webkit-radial-gradient(
      -20px 58px,
      circle farthest-corner,
      rgb(241, 241, 242),
      rgb(241, 241, 242) 30%,
      rgba(241, 241, 242, 0) 32%,
      rgba(241, 241, 242, 0)
    ),
    -webkit-radial-gradient(-50px 170px, circle farthest-corner, rgb(241, 241, 242), rgb(
            241,
            241,
            242
          )
          58%, rgb(186, 187, 191) 62%, rgba(241, 241, 242, 0) 66%, rgba(241, 241, 242, 0)),
    -webkit-linear-gradient(top, rgb(118, 120, 124), rgb(124, 126, 130) 19%, rgb(
            147,
            148,
            153
          )
          23%, rgb(138, 139, 143) 60%, rgb(147, 148, 153));

  margin-left: -104px;
  border-radius: 0 0 0 10px;
}

#peanahorizontal div.derecha {
  top: 25px;
  -moz-transform: skew(38deg) translateY(-1px);
  -moz-transform-origin: top right;
  transform: skew(38deg) translateY(-2px);
  transform-origin: top right;
  background-image: -webkit-radial-gradient(
      188px 58px,
      farthest-corner,
      rgb(241, 241, 242),
      rgb(241, 241, 242) 30%,
      rgba(241, 241, 242, 0) 32%,
      rgba(241, 241, 242, 0)
    ),
    -webkit-radial-gradient(218px 170px, farthest-corner, rgb(241, 241, 242), rgb(
            241,
            241,
            242
          )
          58%, rgb(186, 187, 191) 62%, rgba(241, 241, 242, 0) 66%, rgba(241, 241, 242, 0)),
    -webkit-linear-gradient(top, rgb(118, 120, 124), rgb(124, 126, 130) 19%, rgb(
            147,
            148,
            153
          )
          23%, rgb(138, 139, 143) 60%, rgb(147, 148, 153));

  border-radius: 0 0 10px 0;
}
#rebordepeana {
  top: 20px;
  left: 50%;
  width: 257px;
  margin-left: -129px;
  position: relative;
  height: 8px;
  border-top: 1px solid rgb(241, 241, 242);
  border-bottom: 1px solid #999;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #333;
  background-image: linear-gradient(
    to left,
    #999999,
    #333333 5%,
    #111111 50%,
    #333333 95%,
    #999999
  );
  z-index: 1000;
  transform: scaleX(0.99);
}

 