.skills {
  height: 100vh;
  overflow: hidden;
  .container {
    border-top: 1px solid transparent;
    padding-top: 2em;
  }
  h1 {
    font-size: 5em;
    font-weight: 700;
    color: $white;
    margin-top: -10px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 3.5em;
      margin-top: 0px;
    }
  }
  p {
    font-size: 2.5em;
    color: $white;
    opacity: 0.8;
    font-weight: 400;
    margin-top: 10px;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }
}

.skill-items {
  flex: 1;
  opacity: 0.9;
}

.skill {
  margin: 2em;
  background: rgba(255, 215, 0, 0.04);
  border-radius: 4px;
  padding: 1.6em;
  position: relative;
  width: calc(50% - 4em);
  display: inline-block;
}

.skill-title {
  color: #fff;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 700;
  padding: 0.4em 0;
  span {
    display: inline-block;
    width: 80%;
  }
}
.percentage {
  text-align: right;
  width: 20% !important;
}
.progress-wrapper {
  height: 14px;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 200%;
  overflow: hidden;
}

.real-bar {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::after {
    content: ' ';
    display: block;
    width: calc(100% + 50px);
    height: 100%;
    transform: scaleX(1.2) skewX(-20deg);
    background: linear-gradient(
          90deg,
          transparent 0%,
          transparent 50%,
          rgba(255, 255, 255, 0.3) 50%,
          rgba(255, 255, 255, 0.3) 100%
        )
        left/ 50px,
      linear-gradient(to right, #fff 0%, currentColor 30%);
  }
}
.wrapper-two {
  display: flex;
}
