.social {
  position: relatiive;
  z-index: 2;
  @media screen and (max-width: 769px) {
    .left,
    h1.main_title,
    p.second_title {
      display: none !important;
    }
    .right {
      width: 100% !important;
      margin-top: 2px;
      position: static !important;
    }
  }
  .container {
    min-height: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    & > h1.main_title {
      position: absolute;
      top: 30%;
      z-index: 9;
      font-size: 5em;
      font-weight: 700;
      color: $white;
      pointer-events: none;
      width: 50%;
      text-align: center;
      text-shadow: 0 2px 1px rgba(75, 75, 78, 0.6);
    }
    & > p.second_title {
      font-size: 2.5em;
      color: $white;
      opacity: 0.8;
      font-weight: 400;
      position: absolute;
      pointer-events: none;
      width: 50%;
      text-align: center;
      top: 26%;
      z-index: 1;
      text-shadow: 0 2px 1px rgba(75, 75, 78, 0.6);
    }
  }
  .right {
    height: 100%;
    width: 48%;
    position: absolute;
    right: 2%;
    top: 0;
  }

  .left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    height: 100%;
    width: 50%;
    color: $white;
    mix-blend-mode: hard-light;
    canvas {
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
